body {
	position: relative;
}

/*
Begin media-query properties
*/

@media (max-width: 840px)  {
	.side-nav {
		display: none;
	}


	.responsive-photo {
		background-image: url("../img/background_880.png");
	}

	.responsive-position {
		display: table;
		 margin-right: auto; margin-left: auto;
	}
}


@media (min-width: 840px)  {
	.main-content {
		width: 75%;
		left: 25%;
		position: absolute;
	}
	.side-nav {
		width: 25%;
		height: 100%;
		position: fixed;
		background-color: rgb(45, 62, 79);
		font-family: Oswald, sans-serif!important;
		color: rgb(207, 64, 77);
		text-align: center;
	}

	.responsive-photo {
		background-image: url("../img/DSC_3234-min.JPG");
	}

	.responsive-position {
		float: left;
	}


}

/* End media query properties */


.fade-background {
	background-image: url("../img/background.e74ff7a3_2.png");
}

/* Begin navbar properties */

.navbar-green {
	color: #7ddf89
}

.side-nav-subtext {
	padding-top: 2%;
}
.side-nav-main {
	padding-top: 30%;
	padding-bottom: 7%;
}

.side-nav-subtext a { color: white;}

.side-nav-subtext a:link { color: white;}

.side-nav-subtext a:visited { color: white;}

.side-nav-subtext a:hover {color: rgb(207, 64, 77);text-decoration: none;cursor: pointer;}

.side-nav-subtext a:active {color: rgb(207, 64, 77);text-decoration: none;cursor: pointer;}

.side-nav-border {
	border-bottom-color: rgb(45, 62, 79);
}

/* End nav bar properties */


/* Begin common properties */

.clear {
    clear:both;
    line-height:0;
}

.summary {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
	color: rgb(207, 64, 77);
	font-family: Oswald, sans-serif!important;
}

.logo-image {
	width: 45%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo-text {
	padding-top: 10%;
	text-align: center;
	font-family: Oswald, sans-serif!important;
	color: black;
}

/* End common properties */

/* Begin photos properties */

.main-content-photo {
	height: 100vh;
	width: 60%;
    background-repeat: no-repeat;
    float: left;
}

.main-content-text {
	height: 100vh;
	width: 40%;
    float: left;
	text-align: center;
	font-family: Oswald, sans-serif!important;
	color: white;
	padding-top: 28%;
}

/* End photos properties */

/* Begin experience properties */

.main-content-exp {
	min-height: 100vh;
	width: 100%;
	background-color: white;
}


.company-block {
	width: 33%;
	min-height: 200px;
	min-width: 200px;
}

.gavagai {
	height: 20%;
}

.visa {
	height: 20%;
	width: 65%;
}

.ibm {
	height: 20%;
	width: 65%;
}


/* End experience properties */

/* Begin skills properties */

.main-content-skills {
	min-height: 100vh;
	width: 100%;
	color: white;
	background-image: url("../img/background.e74ff7a3_2.png");
	display: inline-block;
}

.skill-cat {
	width: 33%;
	font-family: Oswald, sans-serif!important;
	text-align: center;
	min-width: 200px;
}

.skill-head {
	color: #01A9DB;
}

.summary-mod-skills {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	color: rgb(207, 64, 77);
	font-family: Oswald, sans-serif!important;
} 

/* End skills properties */

/* Begin projects properties */

.main-content-projects {
	min-height: 100vh;
	width: 100%;
	color: white;
	background-image: url("../img/background.e74ff7a3_2.png");
	display: inline-block;
}

.proj-item {
	width: 50%;
	font-family: Oswald, sans-serif!important;
	text-align: center;
	min-width: 200px;
	padding: 0 40px;
    margin-top: 150px;
}

.proj-title {
	color: #01A9DB;
}

.summary-mod-proj {
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	color: rgb(207, 64, 77);
	font-family: Oswald, sans-serif!important;
} 

/* End projects properties */

/* Begin education properties */

.main-content-edu {
	min-height: 100vh;
	width: 100%;
	background-color: white;
}

.school-logo {
	width: 33%;
	min-width: 200px;
}

.nus {
	height: 25%;
}

.kth {
	height: 20%;
}
.sses {
	width: 65%;	
}

.logo-text-nus {
	padding-top: 0%;
}

.logo-text-sses {
	padding-top: 25%;
}

.logo-image-div-sses {
	padding-top: 10%
}

/* End education properties */

/* Begin contact properties */

.main-content-contact {
	min-height: 100vh;
	background-color: white;
}

 .contact-link {
	width: 25%;
	min-width: 200px;
  }

/* End contact properties */

